html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0e34;
  font-family: "Alegreya Sans", Arial, sans-serif;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}


.wrapper {
  position: relative;
/*  width: 100%;*/
  width: 1903px;
  max-width: 1920px;
  background-color: #0a0e34;
  margin: 0 auto;
}

.main-header::after {
  content: '';
  background-image: url(../img/football.jpg);
  background-size: 1920px 1082px;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.1;
  
  position: absolute;
  top: -40px;
  left: 0;
  width: 1903px;
  height: 1000px;
}

.container {
  position: relative;
  z-index: 2;
  
  width: 1532px;
  padding: 0 14px;
  margin: 0 auto;
}

.main-header .container {
  min-height: 960px;
}

.logo {
  float: left;
  padding-top: 54px;
}

.header-text {
  float: right;
  padding-top: 53px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-transform: uppercase;
}

.header-headings {
  position: relative;
  margin-top: 391px;
  height: 100px;
}

.heading {
  position: relative;
  margin: 0;
  
  color: #fff;
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  
  letter-spacing: 12px;
}

.heading:first-child {
  z-index: 2;
}

.heading:last-child {
  margin-top: -10px;
  margin-left: 468px;
}

.header-headings::after {
  content: '';
  position: absolute;
  top: 62px;
  left: 362px;
  height: 6px;
  width: 372px;
  
  background-color: #5e42b0;
  transform: rotate(-45deg);
}

.sports {
  float: right;
  margin-top: 86px;
  margin-right: 15px;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.sports li {
  display: inline-block;
  margin-right: 53px;
  
  color: #9071ea;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-transform: uppercase;
}

.sports li:last-child {
  margin-right: 0;
}

.c-download {
  width: 672px;
  margin: 0 auto;
}

.c-download .button {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 311px;
  height: 77px;
  padding-left: 105px;
  padding-top: 23px;
  margin-top: 175px;
  
  background: url(../img/icon-apple.png) 43px 19px no-repeat;
  background-size: 33px 37px;
  background-color: #5e42b0;
  border-radius: 39px;
  box-shadow: 0 16px 24px #0a0e34;
  
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.button span {
  font-weight: 600;
}


.c-download .button:last-child {
  float: right;
  padding-left: 125px;
  
  background: url(../img/icon-google.png) 64px 19px no-repeat;
  background-size: 36px 39px;
  background-color: #5e42b0;
}

.c-download .button:hover {
  text-decoration: underline;
}

.c-download .button:active {
  box-shadow: inset 0px 3px 5px #0a0e34
}

/*MAIN*/

.athlets img {
  position: absolute;
  top: -71px;
  left: 128px;
}

.athlets::before {
  content: '';
  position: absolute;
  top: 396px;
  left: 146px;
  height: 6px;
  width: 860px;
  
  background-color: #9172e6;
  transform: rotate(-49deg);
}

.athlets .decor {
  position: absolute;
  top: 149px;
  left: 392px;
}

.decor .plus {
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: #9173e6;
}

.decor .plus:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: #9173e6;
  transform: rotate(90deg);
}

.athlets .plus:first-child {
  left: 22px;
  top: 20px;
}

.athlets .plus:last-child {
  top: 0;
  left: 0;
  opacity: 0.3;
}

.athlets h2,
.athlets .features {
  padding-left: 808px;
  padding-right: 25px;
}

.wrapper h2 {
  margin: 0;
  
  color: #e7e7e7;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
}

.athlets .subsection h2 {
  margin-top: 112px;
  margin-bottom: 94px;
}

.features-title {
  position: relative;
  padding-left: 34px;
  margin-bottom: 30px;
  
  color: #c1c1c1;
  font-size: 36px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}

.features-title span {
  position: absolute;
  margin-bottom: 6px;
  top: 0;
  left: 0;
  
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000; 
  letter-spacing: 1px;
}

.features-title span::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 5px;
  top: 20px;
  left: 0;
  
  background-color: #5e42b0;
  border-radius: 1px; 
}

.features-desc { 
  margin: 0;
  
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.athlets .subsection:first-of-type {
  min-height: 404px;
  border-top: 1px solid #fff;
  background-color: #fff;
}

.athlets .subsection:nth-of-type(2) {
  min-height: 255px;
  background-color: #f6f4fb;
  border-top: 1px solid #f6f4fb;
}

.athlets .subsection:nth-of-type(2) .features {
  margin-top: 64px;
}

.athlets .subsection:nth-of-type(3) {
  min-height: 296px;
  background-color: #5e42b0;
  border-top: 1px solid #5e42b0;
}

.athlets .subsection:nth-of-type(3) .features {
  margin-top: 91px;
}

.athlets .subsection:nth-of-type(3) .features-desc {
  color: #fff;
}

.athlets .subsection:nth-of-type(3) span::after {
  background-color: #efefef;
}

.players h2,
.players .features {
  width: 489px;
  padding-left: 132px;
}

.players img {
  position: absolute;
  top: -116px;
  right: -52px;
}

.players .subsection:first-of-type {
  min-height: 442px;
  border-top: 1px solid #fff;
  background-color: #fff;
}

.players h2 {
  margin-top: 114px;
  margin-bottom: 90px;
}

.players .subsection:nth-of-type(2) {
  min-height: 246px;
  border-top: 1px solid #f6f4fb;
  background-color: #f6f4fb;
}

.players .subsection:nth-of-type(2) .features {
  margin-top: 64px;
}

.players .subsection:nth-of-type(3) {
  min-height: 267px;
  border-top: 1px solid #0a0e34;
  background-color: #0a0e34;
}

.players .subsection:nth-of-type(3) .features {
  margin-top: 94px;
}

.players .subsection:nth-of-type(3) .features-desc {
  color: #fff;
}

.players .subsection:nth-of-type(3) span::after {
  background-color: #efefef;
}

.do-it {
  display: flex;
  flex-flow: row wrap;
/*
  max-width: 1920px;
  min-width: 1280px;
*/
}

.do-it .b__flex {
  position: relative;
  flex: 1 1 45%;
}

.do-it img {
  display: block;
  max-width: 100%;
  height: auto;
}

.be-active,
.find-contact,
.work-it {
  position: relative;
  box-sizing: border-box;
  padding-left: 127px;
  
  background-color: #fff;
}

.find-contact {
  padding-left: 192px;
}

.be-active::after,
.find-contact::after,
.work-it::after {
  content: '';
  position: relative;
  display: block;
  bottom: 0; left: 0;
  width: 22px;
  height: 5px;
  background-color: #5e42b0;
  border-radius: 2px;
}

 .do-it .number{
  position: absolute;
  box-sizing: border-box;
  width: 168px;
  height: 155px;
  padding-top: 54px;
  top: 211px; left: -84px;
  
  background-color: #5e42b0;
  color: #f5f6f7;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}

.number span {
  display: inline-block;
  position: relative;
}

.number span::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 5px;
  opacity: 0.3;
  bottom: -9px; left: 0;
  background-color: #fff;
  border-radius: 1px;
}

.be-active h2 {
  margin-top: 254px;
  padding-bottom: 116px;
}

.find-contact h2 {
  margin-top: 254px;
  padding-bottom: 74px;
}

.work-it h2 {
  margin-top: 254px;
  padding-bottom: 108px;
}

.do-it .description {
  position: relative;
  margin: 0;
  
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.be-active .description {
  width: 330px;
  margin-bottom: 84px;
}

.find-contact .description {
  width: 350px;
  margin-bottom: 116px;
}

.work-it .description {
  width: 510px;
  margin-bottom: 89px;
}

/*FOOTER*/

.main-footer {
  min-height: 959px;
  position: relative;
}

.main-footer::after {
  content: '';
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-image: url(../img/footer-image.jpg);
  background-size: cover;
  opacity: 0.1;
}
